body{

    font-family:Arial;

    background:#f4f6f9;

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

}

.container{

    background:white;

    padding:30px;

    border-radius:10px;

    width:420px;

    text-align:center;

    box-shadow:0 0 15px rgba(0,0,0,.2);

}

button{

    background:#007bff;

    color:white;

    border:none;

    padding:12px 25px;

    cursor:pointer;

    border-radius:5px;

    font-size:16px;

}

button:hover{

    background:#0056b3;

}

img{

    border-radius:10px;

    margin-top:15px;

    max-width:250px;

}